body{
    font-family: 'Roboto';
    background-color: #f8f8f8;
}

a{
    font-family: 'Roboto';
    font-size: 16px;
}

#wrapper {
    width: 100%;
}
.sidebar ul > li > a.active {
background-color: black;
}
.center{
    display: block;
    margin: 0 auto;
}
@font-face {
    font-family: 'Roboto';
    src:url(/fonts/Roboto-Regular.ttf) format('truetype');
}
.buttons-shown{
    margin-bottom: 15px;
}
.buttons-shown button{
    margin: 0 5px 0 0;
}
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 0px;
    list-style: none;
    background-color: #fffffffb; 
    border-radius: 4px;
}
.dropdown-content a {
    text-decoration: none;
    font-size: 15px;
}
.breadcrumb > .active {
    color: #C3C3C3;
    font-size: 16px;
}
.notify{
    background-color: rgb(199, 42, 42);
    color: white;
    margin-left: 0;
    border-radius: 4px;
    padding: 0 10px;
    display: inline;
    float: right;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    width: auto;
}

#page-wrapper {
    padding-top: 30px;
    min-height: 568px;
    background-color: #fff;
    font-family: 'Heebo';
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin-left: 250px;
        padding: 30px 15px 0 15px;
        border-left: 1px solid #e7e7e7;
    }
}

.navbar-header {
    float: left;
}

.navbar-left {
    float: left;
}

.navbar-right {
    text-align: right;
}

.navbar-top-links {
    margin: 0;
}

.pointer {
    cursor: pointer;
    font-size: 15px;
    color: #337ab7;
}

.usermain{
    display: flex;
}

.userinfo {
    text-align: left;
    float: left;
}

.userinfo label{
    margin: 15px 0;
    font-size: 25px;
}

.userinfo label>input
{
    margin: 0;
    display: block;
}

[data-tooltip]{
    position: relative;
}

.notShow{
    display: none;
}

.flex{
    display: flex;
}
.flex:not(:first-child)
{
    margin: 10px 0;
}

.fleximage{
    margin-left: auto;
}

.fleximage img{
    border: 1px solid;
    border-radius: 4px;
}

[data-tooltip]::after{
    content: attr(data-tooltip);
    position: absolute;
    width: 100px;
    left: 0; right: 0;
    color:rgb(44, 21, 255);
    pointer-events: none;
    opacity: 0;
    transition: 1s;
}
.withcontent:first-child::after{
    content: '';
}
.withcontent::after{
content: "X";
position: absolute;
margin-left: 4px;
margin-top: -3px;
cursor: pointer;
}

.withcontent:hover::after{
    color: rgba(225, 78, 78, 0.7);
    font-weight: bold;
}

[data-tooltip]:hover::after
{
    opacity: 1;
    top:1em;
}

.copy{
content: url(../images/icons/copy.svg);
width: 35px; height: 35px;
margin: auto;
position: relative;
}

.copy:hover{
    cursor: pointer;
}

.pointer:hover{
    color: cadetblue;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 6px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}
h1.page-header.top{
     margin-top: 15px; 
}

.breadcrumb > li > h5{
    font-size: 16px;
    margin: 0;
} 
ul.dropdown-menu.mod{
    margin-left: -20px;
}

.drplist{
    text-align: center;
    font-size: 16px;
    margin-bottom: 2px ;
    border-bottom: 1px solid;
    cursor: pointer;
}
.modalcontent{
    margin: 5px;
    display: block;
}
.modal-dialog{
    margin-top: 10%;
}
.modalcontent .button{
    margin: 10px 0;
text-align: center;
}
.modalcontent .info{
    text-align: center;
    margin-top: 2em;
}

.info label{
    padding: 5px;
    border: 1px solid;
    margin-right: 1px;
    font-size: 14px;
}
.drplist:hover{
    background-color: #e6e0e0;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
    /*margin: 10px 0;*/
}
div#OR {
    height: 30px;
    width: 30px;
    border: 1px solid #C2C2C2;
    border-radius: 50%;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    font-size: 12px;
    float: right;
    position: absolute;
    right: -16px;
    top: 40%;
    z-index: 1;
    background: #DFDFDF;
}
.navbar-top-links>li>a {
    color: #999;
}

.navbar-top-links>li>a:hover, .navbar-top-links>li>a:focus, .navbar-top-links>.open>a, .navbar-top-links>.open>a:hover, .navbar-top-links>.open>a:focus {
    color: #fff;
    background-color: #222;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}
.sidebar ul li:nth-child(1){
    border-bottom: 2px solid;
}
.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.activeInput{
    border: 2px solid red;
}

.sidebar ul li a.active {
    background-color: black;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

.multiple-inputs-div {
    display: block;
}

input[type="tel"]{
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.swal2-confirm-message{
    display: none;
    align-items: center;
    justify-content: center;
    margin: 0 -2.7em;
    padding: .625em;
    overflow: hidden;
    background: #98ffcc;
    color: #666;
    font-size: 1em;
    font-weight: 300;
}

.swal2-confirm-message i {
  margin: 0 .4em;
  color: #57bd8a;
  font-size: 1.4em;
}

.multiple-inputs-div .plus {
    float: right;
    font-size: 25px;
    font-weight: bold;
    border: 1px solid;
    padding: 0px 6px;
    margin-bottom: 10px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

.panel {
    margin-right: 5px;
}

.panel-disabled {
    pointer-events: none;
    cursor: default;
    border-color: rgba(0, 0, 0, 0.3);
}
.panel-disabled .panel-heading, .panel-disabled .panel-footer {
opacity: 0.35;
}
.panel-disabled .panel-heading{
    background-color: #337ab7;
    color: white;
}
.panel-disabled::after{
    font: 23px normal bold;
    text-shadow: -1px 1px 4px rgb(255, 255, 255);
    color: rgb(44, 21, 255);
    top: 35%;
    left: 10%;
    position: absolute;
    content: 'Немає доступу!';
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green .pointer {
    color: #5cb85c;
}

.panel-green .pointer:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.newUser{
    width: 60%;
    margin-right: 20px;
}
.selectUser{
    width: 40%;
    border-left: 3px inset #77777717;
    margin-left: 20px;
}

.selectUser .swal2-select{
    width: 80%;
}

.panel-red .pointer {
    color: #d9534f;
}

.panel-red .pointer:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow .pointer {
    color: #f0ad4e;
}

.panel-yellow .pointer:hover {
    color: #df8a13;
}