a{
    text-decoration: none;
    color: #00539b;
    cursor: pointer;
}
@font-face{
    font-family: 'Roboto';
    src: url(/fonts/Roboto-Regular.ttf);
    font-weight: 400;
}
@font-face{
    font-family: 'Roboto';
    src: url(/fonts/Roboto-Medium.ttf);
    font-weight: 600;
}
@font-face{
    font-family: 'Roboto';
    src: url(/fonts/Roboto-Bold.ttf);
    font-weight: 800;
}
.pointer
{
    cursor: pointer;
}
body{
    opacity: 0;
    transition: ease-in-out 1s;
    font-family: 'Roboto';
    height: 100%;
    position: relative;
}
html{
    height: 100%;
}
.position-lg-absolute{
    position: absolute;
}
body.visible{
    opacity: 1;
    transition: opacity ease-in-out 1s;
}
/* contact banner */
.unselect{
    -moz-user-select: none; /* Mozilla Firefox */
    -ms-user-select: none; /* Internet Explorer (не поддерживается) */
    -o-user-select: none; /* Opera Presto (не поддерживается) */
    -webkit-user-select: none; /* Google Chrome, Opera Next, Safari */
    }

.contact-with-us{
    border: 4px solid #00539b;
    border-bottom: none;
    transition: .2s ease-in-out;
    color: white;
    background: black;
    z-index: 999;
    position: fixed;
    bottom: 40%;
    right: 0px;
    width: max-content;
}
.contact-with-us .header{
    z-index: 99999;
   height: 75px;
    z-index: 1000;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.swal2-container .close{
    height: 30px;
    width: 30px;;
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
    background: white;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
}
.swal2-container .close p{
cursor: pointer;
   font-size: 18px;
   font-weight: bold;
   width: 100%;
   margin: 0;
   text-align: center;
}
.contact-with-us .contact-info img{
    filter: invert(1);
}
.contact-with-us div:nth-child(2){

   border-top: 2px solid white;
    }
.contact-with-us div:nth-child(2) p{
    font-size: 18px;
    padding: 10px 0;
    }
.contact-with-us div:nth-child(2) p a{
color: white;
}
.contact-with-us div:nth-child(2) p:hover a{
    color: rgb(175, 175, 175);
    }
.contact-with-us .contact-info{
    border: 4px solid #00539b;
    color: white;
    z-index: 998;
    position: absolute;
    width: 100%;
    background: black;
}
.contact-with-us.close .contact-info{
    transform: translateY(-60px);
    height: 0;
    opacity: 0;
}
.contact-with-us.close:hover{
    transform: translateX(190px);
}
.contact-with-us .header div{
    z-index: 999;
    display: flex;
    align-items: center;
    height: 100%;
}
.contact-with-us p{
    z-index: 999;
   margin-right: 10px;
   margin-bottom: 0;
}
.contact-with-us img{
    z-index: 999;
    margin:0 10px;
}
.contact-with-us.close{
    border: none;
    transition: .2s ease-in-out;
    transform: translateX(210px);
}
.contact-with-us.close .header img{
    transform: rotate(90deg);
}

/* contact banner end */

/* header */
header{
    background: #000;
}
body.overflow-hidden {
    overflow: hidden;
}
.header{
    display: flex;
    justify-content: space-between;
}
.right__menu{
    display: flex;
    align-items: center;
}
.right__menu>div{
margin-right: 10px;
}
.logo{
    margin-right: 10px;
}
button[aria-expanded]{
    overflow: hidden;
    outline: none;
}
span.navbar-toggler-icon.custom_icon{
margin: 0.25em;
display: block;
background: white;
height: 0.2em;
transition: ease-in-out 0.4s;
}
button[aria-expanded=true] .navbar-toggler-icon.custom_icon{
align-self: center;
margin: 0.25em;
display: block;
background: white;
height: 0.2em;
transition: ease-in-out 0.4s;
}
.navbar-dark .navbar-brand .logo, .header .logo{
  width: 1.4em;
}
.navbar-dark .navbar-brand, .header{
    font-size: 24px;
  }
  .dropdown-menu[data-bs-popper] {
    right: 0;
    left: auto;
}
.navbar-dark .navbar-brand:hover,  .header .logo_block:hover{
    color: #337ab7;
}
.navbar-dark .navbar-brand:hover .logo, .header .logo_block:hover img{
   content: url(/images/logo-mini-hover.png);
}
.navbar-nav {
    font-size: 18px;
    font-weight: 400;
}
.navbar-dark .navbar-nav .nav-link.active {
    color: #8dcaff;
}
.navbar-dark .navbar-nav .nav-link.active:hover {
    color: #74a4ce;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
}
button[aria-expanded=true] .navbar-toggler-icon.custom_icon:nth-child(1){
    transform: rotate(45deg) translateY(0.3em) translateX(0.25em);
}
button[aria-expanded=true] .navbar-toggler-icon.custom_icon:nth-child(2){
    transform: translateX(1em) rotate(-90deg) translateY(-3em);
}
button[aria-expanded=true] .navbar-toggler-icon.custom_icon:nth-child(3){
    transform: rotate(-45deg) translateY(-0.35em) translateX(0.3em);
}
.collapse.navbar-collapse
{
    padding-left: 3em;
}
.collapse.navbar-collapse.show
{
    padding-left: 0;
}
.dropdown .btn.btn-dark.dropdown-toggle{
    display: flex;
    align-items: center;
}
.dropdown .btn img{
    padding-left: 0.2em;
}
/* .header .container-fluid{
    align-items: baseline;
} */

.btn.index{
    position: absolute;
    bottom: 0;
}
.btn.index:hover span{
transform: scale(200);
}

/* about__our__company */
section.cars{
padding-top: 2vh;
}
section
{
    padding-top: 4vh;
}
.banner{
    padding: 0;
}
.about__our__company .row:nth-child(n+2)
{
    margin-top: 3em;
}
.right{
    float: right;
}
.left,.right{
    transition: width .05s;
}
.hide{display: none !important;}
.hide-timing{
    display: none !important;
    animation: hide-timing .2s ease-in-out forwards;
}
@keyframes hide-timing{
    0%{opacity: 1; visibility: visible;}
    100%{opacity: 0; visibility: hidden;}
}
.left{
    float: left;
}
.about__our__company img{
    max-height: 380px;
}
.row-flex {
    display: flex;
    flex-flow: row wrap;
}
.carusel{
    position: relative;
}
/* footer */
footer{
    padding-top: 7vh;
}
footer.admin{
    padding: 2vh;
}
footer.admin h4{
    padding: 0;
    margin: 0;
    color: white;
}
footer a{
    color: #fff;
}
footer a:hover{
    color:rgba(255, 255, 255, 0.75);
}
footer p p {
    margin: 0;
}
footer h3{
    color: #8dcaff;
    font-weight: bold; 
    margin-bottom: 15px;
}
footer p{
    font-size: 14px;
}
.bg-black{
    background-color: #000;
}
.dark{
    color: white;
}

/* breadcrumb */

ol.breadcrumb{
    border: 1px solid rgb(114, 111, 111);
    margin: 0;
    padding: 1vh 2vh;
}

/* cars */
/* filter */
.filter__menu
{
    border: 1px solid rgb(175, 175, 175);
}
.filter:not(:nth-child(n+1))
{
    margin-top: 2vh;
}
.filter__menu .header{
    display: flex;
    align-items: center;
    background: #000;
    color: white;
}
.filter__menu h2{
    font-size: 2.2vh;
    margin: 0; 
    padding: 1.2vh 1vh;
    text-transform: uppercase;
    width: 100%;
}
.filter__menu .content{
    overflow: auto;
    max-height: 20vh;
    padding: 1.5vh 2.5vh;
}
.filter__menu .form-check{
    margin-bottom: 1vh;
}

.actived{
    border: 2px solid blue;
}

/* cars */
.car-profile .car-item{
   height: 50vh;
   margin-bottom: 2vh;
}
.container-car{
    padding: 1em 0px 5px 0px;
    border: 1px solid #ECEAEA;
    margin: 5px 0px 5px 0px;
}
.pointer-none{
    pointer-events: none;
}
.fleximage{
    margin-top: 2vh;
}
.main-inputs input{
    margin: 10px 0;
    padding: 1vh;
}
.car-image{
    height: 50%;
    position: relative;
    padding: 12px 0px;
}
.car-desc h2{
font-size: 32px;
font-weight: 600;
color: #00539b;
}
.swal2-popup{
    font-size: 1rem !important;
}
.swal2-popup.swal2-toast.swal2-show{
    font-size: 1.3rem !important;
}
#data_wrapper .row div:nth-child(2) div{
    float: right;
}
#data2_wrapper .row div:nth-child(2) div{
    float: right;
}
.background-img{
    width: 100%;
    height: 100%;
    transition: ease-in-out 0.5s;
    background: var(--background) center;
    background-size: cover;
}
.car-image:hover .background-img{
    transform: scale(1.2);
    transition: transform ease-in-out 0.5s;
}
.container-car .bottom .car-desc{
    margin: 2vh 0;
    text-align: center;
}
.container-car .bottom{
    height: 50% ;
}
.buttons .car_btn{
    text-align: center;
    width: 50%;
    transition: ease-in-out 0.5s;
    cursor: pointer;
    z-index: 1;
    padding: 1.5vh 3vh;
    background: #000;
    color: #fff;
    position: relative;
    overflow: hidden;
}
.buttons{
    margin: 4vh 2vh;
}
.car_btn:hover span, .btn:hover span{
    position: absolute;
    z-index: -1;
    left: 0;
    top: 50%;
    background: #545151a6;
    width: 5px;
    height: 5px;
    transform: scale(78);
    transition: transform 0.5s;
}
.car_btn:hover{
    transform: scale(1.05);
    transition: ease-in-out .5s;
}
#load{
    background: url(../images/load.gif);
}
/* fav-ico */
.fav{
    height:45px;
    width: 45px;

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.fav:hover{
    transform: scale(1.15);
}
.fav.isfav{
   background: url(../images/heart.png) center;
   background-size: cover;
   filter: invert(5%) sepia() saturate(10000%) hue-rotate( 
    343deg
    );
}
.fav.nofav{
    background: url(../images/heart-fill.png) center;
    background-size: cover;
   
 }
 .fav.nofav:hover{
    filter: invert(5%) sepia() saturate(10000%) hue-rotate( 
        343deg
        );
 }

.click {
    animation: a 1s;
}

 @keyframes a{
    0%{transform: scale(1)}
    50%{transform: scale(1.3)}
    100%{tranform: scale(1)}
  }
/* colors */
.colors{
    margin: 0;
    padding: 0;
}
.colors li{
    display: inline-block;
}
.colors li a{
    display: block;
    padding: 1.4vh;
    border: 1px solid black;
}
.yellow,.Желтый{
    background: rgb(230, 230, 39);
}
.red,.Красный{
    background: rgb(240, 24, 24);
}
.blue,.Синий{
    background: rgb(38, 38, 226);
}
.black,.Черный{
    background: black;
}
.white,.Белый{
    background: white;
}
.green,.Зеленый{
    background: rgb(35, 150, 35);
}
.car-page .carousel img{
    min-width: 100%; 
      height: 25vh;
      width: 100%;
    }
/* colors */
/* fav-ico end*/
.filters_list .close{
    display: none;
    position: absolute;
    top: 0;
    right: 15px;
    color: #fff;
    font-size: 40px;
}
.filters_setting{
    display: none;
}
.sticky{
    position: sticky;
}
/* car end */

/* about */

.contact-us .container .information, .contact-us .map{
    margin-top: 3vh;
}
.contact-us .map{
    padding-bottom: 2vh;
}
.contact-us h1{
    padding: 1vh 3vh;
    border: 3px solid  #212529;
    font-size: 35px;
}
.contact-us p{
    line-height: 1vh;
}
.contact-us a{
    color:  #212529;
}
.contact-us h2{
    margin-bottom: 2vh;
    font-size: 25px;
    font-weight: 600;
    color: #00539b;
}
.contact-us iframe{
    width: 100%;
    height: 40vh;
}
/* .contact-us .adress p{
    text-align: left;
} */

/* about end */

/* register */
#register .row
{
    margin-top: 4vh;
}
#register .col-md-6{
    position: relative;
}

.register_section{
    padding-bottom: 3vh;
}
.btn{
    z-index: 1;
    padding: 1vh 2vh;
    background: black;
    color: white;
    border-radius: 0px;
    position: relative;
    overflow:hidden;
}
.btn:hover{
    color: white;
}
input.error{
    border: 2px solid rgb(155, 48, 48);
}
.row div .alert{
    
    bottom: -40px;
    padding: 1vh 0vh;
    position: absolute;
    margin: 0;
    width: 94%;
}

.alert p{
    box-shadow: 0 0 2px #000; 
    border-radius: 5px;
    margin: 0;
    background: rgb(158, 87, 87);
    color: white;
    padding: 0 1vh;
}
.alert p::before {
    z-index: 1;
    box-shadow: 0 0 3px #000; 
    content: ''; 
    position: absolute;
    left: 10px; top: -8px;
    border: 9px solid transparent;
    border-bottom: 10px solid rgb(158, 87, 87);
   }
   .alert p::before {
    z-index: 2;
    box-shadow: none;
   }
/* register end */
/* login */

#login div
{
    margin-top: 2vh;
}
/* login end */

/* account */

.account_page .btn:hover span{
    transform: scale(120);
}
.account_page .btn{
    max-width: max-content;
}
.account_page .btn.small{
   font-size: 12px;
   padding: 0.8vh 1.3vh;
}
/* account end */
.top{
    text-align: center;
    padding-bottom: 2vh;
    margin-bottom: 2vh;
    border-bottom: 1px solid;
}
/* favourites */

.cars_favourite .filter{
    height: 5vh;
    width: 35%;
    margin-bottom: 2vh;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cars_favourite .filter h3{
    margin: 0;
    font-size: 25px;
    color: white;
}
table {
    overflow: auto;
}
.cars_favourite .filter .filter-ico{
    transition: ease-in-out .2s;
    height: 18px;
    width: 26px;
    background: url(/images/filter-grid.png) center;
    background-size: cover;
    filter: invert(1);
}
.cars_favourite .filter .filter-ico.enabled{
    transform: rotate(180deg);
    transition: transform ease-in-out .2s;
    filter: invert(55%) sepia() saturate(10000%) hue-rotate( 
        200deg
        );  
        
        ;
}

/* favourites end */

/* car */

ul.menu_drop{
    width: auto;
    height: auto;
    padding: 0;
    list-style: none;
}
.menu_drop li ul {
    background-color: #dbdbdb;
}
ul.menu_drop li.item1 {
    background: rgba(0, 0, 0, 0.78);
}
ul.menu_drop li.item2 {
    background: rgba(0, 0, 0, 0.84);
}
ul.menu_drop li.item3 {
    background: rgba(0, 0, 0, 0.89);
    
}
ul.menu_drop  li.item3 .video{
    overflow: auto;
    width: auto;
}
.menu_drop ul li {
    padding-top: 5px;
    width: 100%;
    line-height: 1.2em;
    display: block;
    position: relative;
    font-size: 18px;
    color: black;
    margin: 0 6px;
}
.item2 img{
width: 30px;
}
.item2 img:not(:first-child){
    margin-top: 7px;
    }
.menu_drop > li > a {
    width: 100%;
    height: 3.2em;
    line-height: 3.5em;
    text-indent: 1.2em;
    display: block;
    position: relative;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
}
/* car end */

/* admin panel */
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.huge {
    font-size: 40px;
}
.btn.active{
    background: #215482;
    color: #ffffff;
    font-weight: 600;
}
.panel-green{
    background: rgb(117, 201, 117);
}
.panel-green .panel-footer{
    color: rgb(29, 94, 29);
}
.panel-yellow{
    background: rgb(238, 212, 95)
}
.swal2-select, .swal2-input{
    width: 100%;
}
.panel-yellow .panel-footer{
    color: rgb(94, 95, 21);
}
.panel-primary{
    background: rgb(105, 145, 218);
}
.panel-primary .panel-footer{
    color: rgb(46, 58, 80);
}
.notify{
    padding: 0 1vh;
    margin-left: 0.5vh;
    background: #e92323;
    border-radius: 15px;
}
.filter{
    z-index: 999;
}
td.button{
    width: 5%;
}
.z-0{
    z-index: 0;
}
.cursor{
    cursor: pointer;
}
.test_button.edit{
    content: url(/images//icons/edit.svg);
}
.test_button{
    height: 30px;
}
th{
    text-align: center;
}
.test_button.hiden{
    content: url(/images/icons/hide.svg);
}
.test_button.show{
    content: url(/images/icons/show.svg);
}
.test_button.block{
    content: url(/images/icons/block.svg);
}
.test_button.delete{
    content: url(/images/icons/delete.svg);
}
.td_button{
    width: auto;
}
img.load{
margin-left: 5px;
background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/c7/Loading_2.gif");
background-size: contain;
background-repeat: no-repeat;
width: 30px;
padding: 14px;
height: 30px;
}
.go__top{
    z-index: 9999;
    transition: ease-in-out .2s;
    display: none;
    cursor: pointer;
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 35px;
    height: 35px;
}
/* admin panel */

.td__button{
    display: flex;
    justify-content: center;
    align-items: center;
}
body.swal2-height-auto {
    height: 100%;}
.colors-list li:not(:first-child){
    margin-left: 5px;
}
.w-lg-25{
    width: 25%;
}
.nav-bar-collapse{
    position: relative;
}
.search-input{
    transition: .2s ease-in-out;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 25%;
    background: #000000e8;

    position: absolute;
    right: 20px;
    top: 2.7em;
    height: auto;
}
.search-input input{
    margin: 10px 0; 
    height: 60%;
    font-size: 18px;
    width: 90%;
}
.search_result{
    text-align: center;
    width: 90%;
}
.search_element a:hover{
    color: white !important;
    background:#464646e8;
}
.search_element a{
    color: white !important;
    transition: .1s ease-in-out;
    margin-bottom: 0.3em;
    display: flex;
}
.search_desc{
    margin-left: 1em;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.search_desc h3{
    margin: 0;
    font-size: 18px;
}
.y_p{
    display: flex;
    align-items: baseline;
}
.search_result .y_p p{
    margin-left: 5px;
}
.search_result p{
    margin: 0;
    font-size: 16px;
}

.search-input .all_res, .search_more a{
    color: white !important;
    font-size: 18px;
}
.search-input .all_res, .search_more{
    padding: 10px 0;
}
.search-input h2{
    font-size: 18px;
}
.search-input .all_res:hover, .search_more a:hover{
    color: rgb(150, 150, 150) !important;
}
.right__menu .search{
    background: url(/images/search.png) center no-repeat;
    background-size: contain;
    height:  100%;
}
.right__menu .ico{
    height: 30px;
    width: 35px;
    filter: invert(1);
    cursor: pointer;
    margin: 0 1.5vh
}
@media screen and (max-width: 991px )
{
.search-input{
    top: 9.7em;
    width: 50%;
    right: 50%;
}
.position-lg-absolute{
    position: relative;
}
.w-lg-25{
    width: 50%;
}
.filters_setting{
    padding: 0 1.5vh;
    display: flex;
    height: 6vh;
    background: black;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.filters_setting h2{
    color: white;
    font-size: 22px;
    text-align: center;
    margin: 0;
}
.filters_setting .ico{
    height: 35px;
    width: 35px;
    filter: invert(1);
    cursor: pointer;
    margin: 0 1.5vh
}
.filters_setting .icons{
    display: flex;
    width: max-content;
}
.filters_list{
    display: none;
}
.filter-ico{
    background: url(/images/filter.png) center;
    background-size: cover;
}
/* .sort-ico{
    background: url(/img/grid.png) center;
    background-size: cover;
} */
.filters_list.show{
    background: rgba(0, 0, 0, 0.905);
    height: 100%;
    width: 100%;
    z-index: 9999;
    display: flex;
    transition: ease-in-out .5s;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
}
.filters_list.show .filter__menu{
    width: 70%;
}
.filter__menu .header{
    background: #fff;
    color: #000;
}
.filter__menu .content label{
    color: #fff;
}
.filters_list.show .close{
   display: block;
}
}
@media screen and (max-width: 770px )
{
    #register .col-md-6:not(:first-child)
    {
        margin-top: 5vh;
    }
    .search-input{
        width: 75%;
        right: 25%;
    }
    .switch_test .btn{
        margin-top: 10px;
    }
    .display-none{
        display: none;
    }
    #data_wrapper .row:nth-child(1) div{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #data_wrapper .row:nth-child(1) div:first-child label{
       width: 150px;
    }
    #data_wrapper .row:nth-child(1) div:last-child{
        margin-bottom: 10px;
    }
    #data_wrapper .row:nth-child(3) div:last-child{
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
    